[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.4"
psycopg2-binary = "==2.9.9"
python-decouple = "==3.8"
whitenoise = "*"
gunicorn = "==21.2.0"

[dev-packages]

[requires]
python_version = "3.12"
